@font-face {
    font-family: 'Fofer';
    src: url('../fonts/Fofer.otf'); /*URL to font*/
}

h1 {
    font-family: Fofer, sans-serif;
    font-size: 300%;
    color: #555555;
}

h2 {
    font-family: Fofer, sans-serif;
    font-size: 100%;
    color: #D6D6D6
}

body {
    font-family: sans-serif;
    color: #D0D0D0;
    font-size:100%;
    padding-left: 8%;
}

.remo a {
    text-decoration: none;
    color: #D0D0D0;
}

#rectangle{
    width: 200px;
    height: 200px;
    border-style: solid;
    position: absolute;
    z-index:-1;
    left: 5%;
    top: 1%;
    background-color: #F7F7F7;
    opacity: .3;
}

img {
    position: fixed;
    bottom: 0;
    right: 10%;
    height: auto;
    width: auto;
    max-width: 300px;
    max-height: 300px;
    opacity: .7;
}
